.name{
    object-fit: cover;
    object-position: 500% 0;
    padding-right:350px;
    width: 900px;
    height: 665px;
}
.heading{
    text-align: center;
    font-weight: lighter;
}
.right{
    background-color: rgb(40, 40, 57);
    text-align: right;
    width: 900px;
    height: 650px;
}
.image{
    display: flex;
}